nav{
  display: flex;
  justify-content: space-around;
  position: relative;
}
li{
  list-style: none;
  margin: 10px;
}
ul{
  display: flex;
}


.header{
  background-color: black;
  color:white;
  text-align: center;
  height:150px;
}
.header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.header h4 {
  font-size: 24px;
  margin-bottom: 50px;
}
.add-btn {
  background-color: #28a745;
  padding: 7px;
  border-radius: 8px;
  
}

.remove-btn {
  background-color: #dc3545;
  padding: 7px;
  border-radius: 8px;

}

.data-content{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;

}
.data-card {
  margin: 30px;
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:beige

}

.card {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

img{
  border-radius: 30px;
}
footer{
  background-color: black;
  color: #fff;
  text-align: center;
  padding:50px ;
}
